<!DOCTYPE html>
<html data-ng-app="myApp" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <!-- Importando CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />

    <!-- Importando angular e jquery por cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.10/angular.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>

    <title>CRUD de Usuários</title>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!-- início do navbar -->
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Cadastro de Usuários</a>
            </div>
        </div>
    </div>
    <!-- fim do navbar -->
     <!-- início do container da página -->
    <div class="container page" data-ng-controller="CadastroCtrl as ctrl">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <div class="alert alert-default navbar-brand search-box">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#newUserModal">Novo usuário
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="alert alert-default input-group search-box">
                    <span class="input-group-btn">
                        <input type="text" class="form-control" placeholder="Procurar por usuário..." data-ng-model="search_query">
                    </span>
                </div>
            </div>
        </nav>
      
        <div class="user-display">
            <!-- início do display de usuários -->
            <table class="table table-striped">
                <!-- início do table -->
                <thead>
                    <th class="text-center"><button class="fake-button" data-ng-click="orderByMe('name')">Nome</button></th>
                    <th class="text-center"><button class="fake-button" data-ng-click="orderByMe('email')">E-mail</button></th>
                    <th class="text-center"><button class="fake-button" data-ng-click="orderByMe('password')">Senha</button></th>
                    <th class="text-center"><button class="fake-button" data-ng-click="orderByMe('phone')">Telefone</button></th>
                    <th class="text-center"><button class="fake-button" data-ng-click="orderByMe('created_at')">Criado em</button></th>
                    <th class="text-center"><button class="fake-button" data-ng-click="orderByMe('viewed_at')">Visualizado em</button></th>
                    <th class="text-center"><button class="fake-button" data-ng-click="orderByMe('modified_at')">Alterado em</button></th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr data-ng-repeat="user in users | filter: search_query | orderBy:customOrderBy">
                        <td data-toggle="modal" data-target="#userViewModal" data-ng-click="viewUser(user)"><span>{{user.name}}</span></td>
                        <td data-toggle="modal" data-target="#userViewModal" data-ng-click="viewUser(user)"><span>{{user.email}}</span></td>
                        <td data-toggle="modal" data-target="#userViewModal" data-ng-click="viewUser(user)"><span>{{user.password}}</span></td>
                        <td data-toggle="modal" data-target="#userViewModal" data-ng-click="viewUser(user)"><span>{{user.phone}}</span></td>
                        <td data-toggle="modal" data-target="#userViewModal" data-ng-click="viewUser(user)"><span>{{user.created_at | date:'H:mm dd/MM/yyyy'}}</span></td>
                        <td data-toggle="modal" data-target="#userViewModal" data-ng-click="viewUser(user)"><span>{{user.viewed_at | date:'H:mm dd/MM/yyyy'}}</span></td>
                        <td data-toggle="modal" data-target="#userViewModal" data-ng-click="viewUser(user)"><span>{{user.modified_at | date:'H:mm dd/MM/yyyy'}}</span></td>
                        <td>
                            <button class="edit-user-button btn glyphicon glyphicon-pencil" data-toggle="modal" data-target="#userEditModal" data-ng-click="editUser(user)"></button>
                        </td>
                        
                        <td>
                            <button class="delete-user-button btn glyphicon glyphicon-trash" data-toggle="modal" data-target="#confirmDeleteModal" data-ng-click="modalDeleteUser(user)"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal de visualizar usuários -->
        <div id="userViewModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
        
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{userBeingViewed.name}}</h4>
                    </div>
                    <div class="modal-body">
                        <span class="modal-user-data">Nome: </span>
                        <p class="user-being-viewed">{{userBeingViewed.name}}</p>
                        <br>

                        <span class="modal-user-data">E-mail: </span>
                        <p class="user-being-viewed">{{userBeingViewed.email}}</p>
                        <br>

                        <span class="modal-user-data">Senha: </span>
                        <p class="user-being-viewed">{{userBeingViewed.password}}</p>
                        <br>

                        <span class="modal-user-data">Telefone: </span>
                        <p class="user-being-viewed">{{userBeingViewed.phone}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#userEditModal" data-ng-click="editUser(userBeingViewed)">Editar Usuário <span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
        
            </div>
        </div>
        <!-- Fim Modal de editar usuários -->

        <!-- Modal de editar usuários -->
        <div id="userEditModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
        
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Editar usuário</h4>
                    </div>
                    <div class="modal-body">
                        <form name="editUserForm" class="form-group">
                            <span class="modal-user-data">Nome: </span>
                            <input type="text" class="form-control" id="editUserName" name="editUserName" data-ng-model="userBeingEdited.name" required>
                            <p class="text-danger" data-ng-if="editUserForm.editUserName.$invalid && editUserForm.editUserName.$touched">Nome não pode ficar em branco</p>
                            <br>

                            <span class="modal-user-data">E-mail: </span>
                            <input type="email" class="form-control" id ="editUserEmail" name="editUserEmail" data-ng-model="userBeingEdited.email" required/> 
                            <p class="text-danger" data-ng-if="editUserForm.editUserEmail.$invalid && editUserForm.editUserEmail.$touched">E-mail inválido</p>
                            <br>

                            <span class="modal-user-data">Senha: </span>
                            <input type="password" class="form-control" id="editUserPassword" name="editUserPassword" data-ng-model="userBeingEdited.password" data-ng-minlength="8" required/>
                            <p class="text-danger" data-ng-if="editUserForm.editUserPassword.$invalid && editUserForm.editUserPassword.$touched">A senha deve ter no mínimo 8 caracteres</p>
                            <br>

                            <span class="modal-user-data">Telefone: </span>
                            <input type="text" class="form-control" id="editUserPhone" name="editUserPhone" data-ng-model="userBeingEdited.phone" data-ng-minlength="9" data-ng-maxlength="9" required/>
                            <p class="text-danger" data-ng-if="editUserForm.editUserPhone.$invalid && editUserForm.editUserPhone.$touched">O telefone deve ter exatamente 9 dígitos</p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-ng-click="saveEditedUser()" data-dismiss="modal" data-ng-disabled="editUserForm.$invalid">Salvar Alterações</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
        
            </div>
        </div>
        <!-- Fim Modal de editar usuários -->

        <!-- Modal de criar novo usuário -->
        <div id="newUserModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
        
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" data-ng-click="resetNewUserForm(newUserForm)">&times;</button>
                        <h4 class="modal-title">Adicionar novo usuário</h4>
                    </div>
                    <div class="modal-body">
                        <form name="newUserForm" class="form-group">
                            <span class="modal-user-data">Nome: </span>
                            <input type="text" class="form-control" id="newUserName" name="newUserName" data-ng-model="newUser.name" required>
                            <p class="text-danger" data-ng-if="newUserForm.newUserName.$invalid && newUserForm.newUserName.$touched">Nome não pode ficar em branco</p>
                            <br>

                            <span class="modal-user-data">E-mail: </span>
                            <input type="email" class="form-control" id="newUserEmail" name="newUserEmail" data-ng-model="newUser.email" required/>
                            <p class="text-danger" data-ng-if="newUserForm.newUserEmail.$invalid && newUserForm.newUserEmail.$touched">E-mail inválido</p>
                            <br>

                            <span class="modal-user-data">Senha: </span>
                            <input type="password" class="form-control" id="newUserPassword" name="newUserPassword" data-ng-model="newUser.password" data-ng-minlength="8" required/>
                            <p class="text-danger" data-ng-if="newUserForm.newUserPassword.$invalid && newUserForm.newUserPassword.$touched">A senha deve ter pelo menos 8 caracteres</p>
                            <br>
                            
                            <span class="modal-user-data">Telefone: </span>
                            <input type="text" class="form-control" id="newUserPhone" name="newUserPhone" data-ng-model="newUser.phone" data-ng-minlength="9" data-ng-maxlength="9" required/>
                            <p class="text-danger" data-ng-if="newUserForm.newUserPhone.$invalid && newUserForm.newUserPhone.$touched">O telefone precisa ter 9 dígitos</p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" data-ng-click="saveNewUser(newUserForm)" data-ng-disabled="newUserForm.$pristine || newUserForm.$dirty && newUserForm.$invalid">Adicionar novo usuário</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="resetNewUserForm(newUserForm)">Fechar</button>
                    </div>
                </div>
        
            </div>
        </div>
        <!-- Fim Modal de criar novo usuário -->
        
        <!-- Modal de confirmação para deletar usuário -->
        <div id="confirmDeleteModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmar remoção de usuário</h4>
                    </div>
                    <div class="modal-body">
                        <span>Tem certeza que deseja remover o usuário {{userToDelete.name}}?</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="deleteUser(user)">Remover Usuário</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
        
            </div>
        </div>
        <!-- Fim modal de confirmação para deletar usuário -->
    </div>
    <!-- fim do container da página -->
    
    <!-- Importando bootstrap.min.js da cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Importando javascript local -->
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controller/cadastroCtrl.js" type="text/javascript"></script>
</body>

</html>
