<!DOCTYPE html>
<html data-ng-app="myApp" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <!-- Importando CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />

    <!-- Importando angular por cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.10/angular.min.js" type="text/javascript"></script>

    <title>CRUD de Usuários</title>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!-- início do navbar -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Cadastro de Usuários</a>
            </div>
        </div>
    </div>
    <!-- fim do navbar -->
     <!-- início do container da página -->
    <div class="container page" data-ng-controller="CadastroCtrl as ctrl">
        <h1 class="text-center">Let's CRUD!</h1>
        

        <!-- <form name="ctrl.form" data-ng-submit="ctrl.submitForm(ctrl.data)">
            início do form
            
            <div class="form-group">
                <label for="userName">Nome:</label>
                <input type="text" class="form-control" id="userName" name="userName" data-ng-model="ctrl.data.userName" data-ng-required="ctrl.form.userName.$error.required"5/>
            </div>
            <div class="form-group">
                <label for="userEmail">E-mail:</label>
                <input type="email" class="form-control" id="userEmail" name="userEmail" data-ng-model="ctrl.data.userEmail" data-ng-required="ctrl.form.userEmail.$error.required"/>
            </div>
            <div class="form-group">
                <label for="userPassword">Senha:</label>
                <input type="password" class="form-control" id="userPassword" name="userPassword" data-ng-model="ctrl.data.userPassword" data-ng-required="ctrl.form.userEmail.$error.required"/>
            </div>
            <div class="form-group">
                <label for="userPhone">Telefone:</label>
                <input type="text" class="form-control" id="userPhone" data-ng-model="ctrl.data.userPhone" />
            </div>
            
            <div class="button-group">
                <button type="submit" class="btn btn-success navbar-btn button" data-ng-disabled="ctrl.form.$invalid">Salvar</button>
                <button type="reset" class="btn btn-default navbar-btn button" data-ng-click="ctrl.limpar();" data-ng-disabled="ctrl.form.$invalid">Limpar Dados</button>
            </div>
        </form> -->

        
        <!-- fim do form -->

        <div class="user-display">
            <!-- início do display de usuários -->
            <table class="table table-striped">
                <!-- início do table -->
                <thead>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Senha</th>
                    <th>Telefone</th>
                    <th>Criado em</th>
                    <th>Visualizado em</th>
                    <th>Alterado em</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr data-ng-repeat="user in users">
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.created_at}}</td>
                        <td>{{user.viewed_at}}</td>
                        <td>{{user.modified_at}}</td>
                        <td>
                            <button class="btn glyphicon glyphicon-pencil" data-ng-click="ctrl.editar(row, $index);"></button>
                        </td>
                        <td>
                            <button class="btn glyphicon glyphicon-trash" data-ng-click="ctrl.remover($index);"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- fim do form -->
        </div>
        <!-- fim do jumbotron -->
    </div>
    <!-- fim do container da página -->

    
    <!-- Importando javascript local -->
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controller/cadastroCtrl.js" type="text/javascript"></script>
</body>

</html>
