.page {
    margin-top: 80px;
    margin-bottom: 20px;
}

.user-display {
    margin-top: 40px;
}

.fake-button { background: none; border: none; }

td span { cursor: pointer; }
td span:hover { color: blue; }

.edit-user-button { background: #469D4B; }
.delete-user-button { background: #D7433D; }
